body {
	background-color: #C1C1C1
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #E5E5E5;
 }
 
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #F4F4F4;
 }
 
.table-striped>thead>tr>th {
   background-color: white;
 }
 
 .ui-autocomplete {
    z-index:2147483647;
}